@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {

  /**
   * colors
   */

  --united-nations-blue: hsl(214, 56%, 58%);
  --bright-navy-blue: hsl(214, 57%, 51%);
  --spanish-gray: hsl(0, 0%, 60%);
  --black-coral: hsl(225, 8%, 42%);
  --oxford-blue: hsl(208, 97%, 12%);
  --yale-blue: hsl(214, 72%, 33%);
  --blue-ncs: hsl(197, 100%, 36%);
  --gunmetal: hsl(206, 34%, 20%);
  --gainsboro: hsl(0, 0%, 88%);
  --cultured: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 25%);
  --jet: hsl(0, 0%, 20%);

  /**
   * typography
   */

  --ff-poppins: "Poppins", sans-serif;
  --ff-montserrat: "Montserrat", sans-serif;

  --fs-1: calc(20px + 3.5vw);
  --fs-2: calc(18px + 1.6vw);
  --fs-3: calc(16px + 0.45vw);
  --fs-4: 15px;
  --fs-5: 14px;
  --fs-6: 13px;
  --fs-7: 12px;
  --fs-8: 11px;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  /**
   * transition
   */

  --transition: 0.25s ease-in-out;

  /**
   * spacing
   */

  --section-padding: 60px;

  /**
   * border-radius
   */

  --radius-15: 15px;
  --radius-25: 25px;

}

.container { padding-inline: 15px; }

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #010101;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

a,
img,
span,
input,
label,
button,
ion-icon { display: block; }

input { width: 100%; }

ion-icon { pointer-events: none; }

a,
button {
  all: unset;
  cursor: pointer;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: var(--black);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.5s ease;
  }
  
  .navbar .logo i {
    color: #0aa5ff;
    font-size: 22px;
  }
  
  .navbar .logo a {
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-left: 12px;
  }

  .container{
    margin-top: 100px;
    background-image: url("black.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

.h2{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.reservation-info{
    display: flex;
    justify-content: space-around;
    
}
.reservation-info1, .user{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--white);
    border-radius: var(--radius-15);
    padding: 5px 22px;
    width: 300px;
    
}
.reservation-info p{
    display: flex;
    flex-direction: column;
}
.button{
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 20vh;
}
.cancel {
    font-weight: 500;
    padding: 12px 22px;
    background-color: transparent;
    color: var(--white);
    border-radius: 10px;
    border: 2px solid #0aa5ff;
    transition: 0.2s;
    margin: 8px;
    text-align: center; 
    display: inline-block;
    font-size: var(--fs-3);
  }
  .cancel:hover{
    background-color: #0aa5ff;
    color: white;
  }
